extends layout 

block content
    container.d-flex.justify-content-center.align-items-center.mt-4
        .card.p-4.text-center(style="max-width: 500px; width: 100%;")

            h1.mb-4(style="color: #43adcf") 
                | Bienvenido #{nombre}

            p.mb-2
                strong Nombre y Apellido: 
                | #{nombre} #{apellido}

            p.mb-2
                strong DNI: 
                | #{dni}

            p.mb-2 
                strong Tus especialidades: 
                
                br

                each item in especialidades
                    span.badge.bg-primary.me-2
                        = item.especialidad.nombreEspecialidad

            a.btn.btn-primary(href="/turno") 
                | Consultar Agendas

            if error
                .alert.alert-danger.mt-3
                    i.fas.fa-circle-exclamation.me-2
                    | #{error}

            
